body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
}

.main-contents {
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

/* Sidebar */

.sidebar {
    background: #E0EBFE;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
/* Contacts */

.contacts-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161D2A;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    margin-right: 8px;
}

.contacts-link {
    color: #2979FF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.adress {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts-itea {
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

/* Skills-container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.languages-title {
     color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.languages-list {
    padding-left: 16px;
}

.languages-item {
    color: #161D2A;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Main contents */

.my-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 12px;
}

.my-info {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-title {
    margin-top: 0;
}

.summary-content {
    margin-bottom: 32px;
}

/* My projects */

.my-projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px; /* 122.727% */
    margin-top: 0;
    margin-bottom: 8px;
}

.my-project-item {
    color: #000;
font-size: 14px;
font-weight: 700;
line-height: 24px; /* 171.429% */
}

p {
    margin: 0;
}

.my-project-item-text {
    margin: 0;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item-link {
    color: #005FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Work experience */

.work-experience-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 32px;
}

.work-experience-company {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 12px;
}

/* .company-name {
    color: #6D9BF5;
} */

.work-experience-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.work-experience-container {
    margin-bottom: 32px;
}

.work-experience {
    margin-bottom: 40px;
}

/* Education */

.education-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 32px;
}

.education {
    margin-bottom: 32px;
}

.education-university {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.education-faculti {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.education-period {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
}

.education-period-separator {
    color: #000;
}

@media screen and (max-width:960px) {
    body {
        padding: 20px;
    }
    .main-content {
        padding: 40px;
    }
    
}

@media screen and (max-width:850px) {
    .sidebar {
        width: 250px;
    }
    .my-photo {
        width: 250px;
    }
    .sidebar-content {
        padding: 20px;    
    }
    body {
        padding:0;
    }
    
}


@media screen and (max-width:700px) {
    body {
        padding: 0;
    }
    .sidebar {
        width: 200px;
    }
    .my-photo {
        width: 200px;
    }
    .main-content {
        padding: 0;
    }
    .my-name {
        font-size: 28px;
    }
}

@media screen and (max-width:660px) {
    .wrapper {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
    }
    .my-photo {
        width: 100%;
    }


}